<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>App 2.0</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">-->
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="./js/config.js"></script>
    <script type="text/javascript" src="static/js/vendor.dll.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script></body>

</html>
